@import "../responsive.scss"

.homePage{
    display: flex;
    height: 100%;

    .textContainer{
        flex: 3;

       .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding-right: 130px;
            gap: 20px;

            .heading{
                font-size: 64px;
                line-height: 1.2;
            }

            .sub-heading{
                font-size: 18px;
                line-height: 1.3;
                color: gray;
            }

            

            .boxes{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .box{
                    h1{
                        font-size: 36px;
                    }
                    h2{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .imgContainer{
        flex: 2;
        background-color: #fcf5f3;
        position: relative;

         img{
            width: 115%;
            position: absolute;
            right: 0;

            @include sm{
                display: none;
            }
         }
    }
}