@import "./responsive.scss";

.layout{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
    //background-color: rebeccapurple;
    height: 100vh;
   
    @include lg{
         background-color: coral;
    }

    @include md{
        background-color: cornflowerblue;
    }

    @include sm{
        background-color: red;
    }

    .content{
        height: calc(100vh - 100px);
    }
}